{% extends "layout.twig" %}

{% block faq %} id="active" {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10" id="faq_background">
            <i class="fas fa-question-circle"></i> Est-il possible de commander un tableau (personnalisé) sur demande précise ? </br><br>
            <span class="cercle">
            <i class="fas fa-circle"></i> </span>   Oui il est possible de demander une forme particulière, une écriture particulière. Vous pouvez prendre contact avec moi, m’envoyer une image pour que j’étudie la faisabilité. </br><br>
            <span class="cercle">
            <i class="fas fa-circle fa"></i> </span>   Il est possible de commander dans un format choisi selon la faisabilité.</br></br>
            <i class="fas fa-question-circle"></i>    J'ai vu un tableau qui me plaît mais il est déjà vendu, est-il possible de commander le même tableau ?</br></br>
            <span class="cercle">
            <i class="fas fa-circle fa"></i></span>      Oui, selon votre demande, il est possible de refaire un modèle. </br></br>
            <i class="fas fa-question-circle"></i> Comment ça se passe pour la livraison ?</br></br>
            <span class="cercle">
                <i class="fas fa-circle fa"></i></span>   Je privilégie la remise en main propre à Loches.</br></br>
            <span class="cercle">
            <i class="fas fa-circle fa"></i></span>   Envoi possible, les frais de port sont à votre charge et calculés selon le poids du tableau. A venir : un
                tableaux des prix de livraison.</br></br>
            <i class="fas fa-question-circle"></i> Quel type de bois de palette utilisez-vous ?</br></br>
            <span class="cercle">
            <i class="fas fa-circle fa"></i> </span> Les tableaux sont fabriqués à partir de bois de palettes dites « perdues ». Des palettes utilisées une seule
                fois dans les transports de marchandises. Elles ne sont pas traitées. Il y a de temps en temps des palettes traitées à haute température (sans produits toxiques, qui sont aujourd’hui interdits).</br></br>
        </div>
        <div class="col-lg-1">
        </div>                     
    </div>
</div>

{% endblock %}