{% extends "templates/app.twig" %}

{% block atelier %} id="active" {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-6">
            <div id="descriptionleft">
                <p id="description">

                    Je suis sensible depuis quelques temps aux possibilités qu’offre la transformation du bois de palette. Ayant un atelier basé à Loches à disposition, j’ai commencé à fabriquer quelques meubles. Puis j’ai cherché une occasion de pouvoir ouvrir l’atelier à d’autres personnes. Je me suis orienté vers un public qui n’avait pas la possibilité de bricoler chez lui. Depuis septembre 2017, notre rencontre hebdomadaire à l’atelier est un moment de partages, d’échanges, d’entraide et d’encouragements mutuels. C’est dans ce cadre, que j’ai démarré la création de tableaux. Finalement les retours positifs m’ont encouragé à me lancer en tant que micro-entrepreneur. </br></br>

                    C’est une opportunité pour moi de développer mon côté créatif, en travaillant une matière que j’affectionne particulièrement : le bois. Le bois de palette a un rendu brut et authentique qui me plaît. Cela m’enthousiasme de créer à partir de ce bois de récupération. </br></br>

                    Ce projet de micro-entreprise qui se concrétise est une aventure familiale. Je me réjouis que chacun s’investisse à sa manière. Ma femme Linda supervise la communication. Mes enfants : Eva s’occupe de la communication sur les réseaux sociaux ; Mehdi a créé le site internet et prend en charge sa gestion ; Suzana prend les photos et apporte des idées pour les tableaux ainsi que pour la mise en forme de la communication. </br></br>

                    <span id="signature"> Cédric Klein </span>
                </p>
            </div>
        </div>  
        <div class="col-lg-6" id="imgatelier">
        <img  src="ressources/img/atelier1.jpg" alt="photo d'un tableau en bois avec un heron"/>
        </div>
    </div>
</div>

{% endblock %}