{% extends "templates/app.twig" %}

{% block gallery %} id="active" {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center mt-5 mb-4">
            <div class="col"> <span id="colorc"> Cliquez sur les images <i class="fas fa-arrow-circle-down"></i> </span>  </div>
        </div>
        <div class="row homepics">
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"> <a href="heron"> <img src="ressources/img/heron.jpg" alt="heron"  /> </a> </div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"> <a href="cerf"><img src="ressources/img/cerf.jpg" alt="cerf"  /></a> </div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"> <a href="arbre"><img src="ressources/img/arbre.jpg" alt="arbre"  /></a> </div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="autruche"><img src="ressources/img/autruche.jpg" alt=" flamand rose"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="colibri"><img src="ressources/img/bird2.jpg" alt=" colibri"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="multibirds"><img src="ressources/img/multibirds.jpg" alt="photo d'un tableau en bois avec plusieurs oiseaux"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="eagle"><img src="ressources/img/eagle.jpg" alt=" aigle"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="sapin"><img src="ressources/img/sapin.jpg" alt=" sapins"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="cerfmini"><img src="ressources/img/cerfmini5.jpg" alt=" cerf"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="feuillesbranche"><img src="ressources/img/fougère1.jpg" alt=" feuilles"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="ours"><img src="ressources/img/ours.jpg" alt=" ours"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="feuilles"><img src="ressources/img/feuilles.jpg" alt=" feuilles"  /><a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="hibou"><img src="ressources/img/hibou2.jpg" alt=" hibou"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="cerfhead"><img src="ressources/img/cerfheadmoyen4.jpg" alt="e tête de cerf"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="oiseauxbranche"><img src="ressources/img/oiseaubranche.jpg" alt=" oiseau"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="cerfhead2"><img src="ressources/img/cerfheadgrand5.jpg" alt="e tête de cerf"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="licorne"><img src="ressources/img/licorne.jpg" alt="e licorne"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="cheval"><img src="ressources/img/cheval3.jpg" alt=" cheval"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="arbre2"><img src="ressources/img/arbremini4.jpg" alt=" arbre"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="feuilles2"><img src="ressources/img/feuilles2.jpg" alt=" feuilles"  /></a></div>
            <div class="col-lg-4 col-md-6 col-sm-12 gallery-img"><a href="1a"><img src="ressources/img/1a.jpg" alt="tableau en bois"  /></a></div>
        </div>
    </div>
{% endblock %}